<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button slot="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content ngDefaultControl >
   
      <div class="card" style="min-height: 500px !important;">
          <div class="header">
              <div class="avatar">
                  <img style="color: #3C71FF;" ngDefaultControl [src]="currentImage" *ngIf="currentImage" [(ngModel)]="fotohtml">
              </div>
          </div>
          
          <div class="card-body">

            <div class="user-meta ion-text-center">
              <a class="css-button">
                <span class="centrar"><img class="centrar"  (click)="takePicture()" src="assets/imagenes/camara16.png"></span>
              </a>
            </div>

          <div class="ion-text-center">
            <label style="text-transform: uppercase;" id="lbl_usuario"><strong>{{nombre_usuario}}</strong></label>
          </div>

          <div style="margin-left: -5px;">
            <ion-label style="font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;  margin-top: 5px; margin-left: 7px;">CORREO</ion-label>
            <ion-input style="text-transform: uppercase;"  [(ngModel)]="txt_correo_Usuario" placeholder="CORREO"></ion-input>
            <ion-label style="font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;  margin-top: 5px; margin-left: 7px;">TELÉFONO</ion-label>
            <ion-input  style="text-transform: uppercase;" [(ngModel)]="txt_Telefono_Usuario" placeholder="TELÉFONO"  maxlength="10" (keypress)="restrictNumeric($event)"></ion-input>
            <ion-label style="font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;  margin-top: 5px; margin-left: 7px;">CEDULA</ion-label>
            <ion-input style="text-transform: uppercase;" [(ngModel)]="txt_Cedula_Usuario" placeholder="Cedula" maxlength="13" (keypress)="restrictNumeric($event)"></ion-input>
            <ion-label style="font-size: 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif;  margin-top: 5px; margin-left: 7px;">CONTRASEÑA</ion-label>
          
            <div style="margin-left: 6px;">

            <input  aria-describedby="basic-addon1" [type]="getType()" style="text-transform: uppercase; " type="text" style="margin-right: 3px;" class="css-input" placeholder="CONTRASEÑA" [(ngModel)]="txt_contrasena"/>
            <ion-icon style="margin-left: 35px;" name="eye" (click)="toggleTextPassword()" class="input-group-addon" ></ion-icon >
         
            </div>
            
          </div>
          <ion-button expand="block" style="font-weight: bold;" (click)="OnGuardarPerfil()">GUARDAR</ion-button>
        </div>
      </div>

</ion-content>
