<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button slot="start" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
   
      <div class="card">
          <div class="header">
              <div class="avatar">
                  <img [src]="currentImage" *ngIf="currentImage" [(ngModel)]="fotohtml">
              </div>
          </div>
          
  
          <div class="card-body">

            <div class="user-meta ion-text-center">
              <a class="css-button">
                <span class="centrar"><img class="centrar"  (click)="takePicture()" src="assets/imagenes/camara16.png"></span>
              </a>
            </div>

          <div class="ion-text-center">
            <label id="lbl_usuario"><strong>{{nombre_usuario}}</strong></label>
          </div>

          <div style="padding: 10px;">

            <ion-label style="font-size: 16px; font-weight: bold; margin-top: 10px;">Correo</ion-label>
            <ion-input  [(ngModel)]="txt_correo_Usuario" placeholder="Correo"></ion-input>
            <ion-label style="font-size: 14px; font-weight: bold;  margin-top: 10px; ">Telefono</ion-label>
            <ion-input  [(ngModel)]="txt_Telefono_Usuario" placeholder="Telefono"></ion-input>
            <ion-label style="font-size: 14px; font-weight: bold;  margin-top: 10px; ">Cedula</ion-label>
            <ion-input [(ngModel)]="txt_Cedula_Usuario" placeholder="Cedula"></ion-input>
            <ion-label style="font-size: 14px; font-weight: bold;  margin-top: 10px; ">Contraseña</ion-label>
          <div >
            <input type="text" style="margin-right: 3px;" class="css-input" placeholder="Contraseña" [(ngModel)]="txt_contrasena"/>
            <ion-icon style="margin-left: 35px;" name="eye" (click)="toggleTextPassword()" class="input-group-addon" ></ion-icon >
          </div>
        
        <!-- <div >
          <input type="text" class="css-input" placeholder="Contraseña" [(ngModel)]="txt_contrasena"/> -->
          <!-- <input type="text"  placeholder="Contraseña" aria-describedby="basic-addon1" [(ngModel)]="txt_contrasena" [type]="getType()"> -->
          <!-- <ion-icon  name="eye" (click)="toggleTextPassword()" class="input-group-addon" id="basic-addon1">@</ion-icon >
        </div> -->
          
            
          </div>
          <ion-button expand="full" class="myButton" (click)="OnGuardarPerfil()" color="secondary">GUARDAR</ion-button>
          
        </div>
      </div>
      <!-- <ion-button expand="full" (click)="takePicture()" color="secondary">Camara</ion-button> -->
      
      <!-- <ion-label id="lbl_usuario"></ion-label><br> -->
      <!-- <label id="lbl_usuario2"><strong>{{cod_usuario}}</strong></label> -->
</ion-content>
