<ion-content>

  <ion-card-header>
    <ion-card-title></ion-card-title>
  </ion-card-header>
  <div class="contenedor">
  <ion-card-content style="width: 100%; padding: 10px;">
    <div>
      <img style="width: 120px;;margin:auto;display:block" src="assets/imagenes/MisCallesLimpiasRDCircle.png">
      <ion-label class="centrar" style="font-weight: bold; font-size: 22px;">INICIAR SESIÓN</ion-label>
    </div>

<div class="login--inputs" style="margin-top: 15px; margin-right: 15px;">

  <ion-item>
    <ion-input oninput="this.value = this.value.toUpperCase()" (keypress)="omit_special_char($event)" (keydown)="onKeydown($event)"  placeholder="Usuario" maxlength="50" [(ngModel)]="usuario" ></ion-input>
  </ion-item>
<!-- Prueba -->
  <ion-item>
      <ion-input oninput="this.value = this.value.toUpperCase()" placeholder="Contraseña" [type]="getType()" [(ngModel)]="clave" ></ion-input>
      <ion-icon style="align-items: flex-end;" name="eye" (click)="toggleTextPassword()"></ion-icon>
  </ion-item>

</div>
 
  <div class="login--contraseña" style="text-align: right; margin-right: 5px;">
    <ion-label style="font-size: 14px;"><a href="./olvide-mi-contrasena">¿Olvidaste tu contraseña?</a></ion-label>
  </div>
  
  <div class="boton-login">
    <ion-button expand="block" [disabled]="click" style="font-weight: bold;" (click)="onIniciarSesion()">INICIAR SESIÓN</ion-button>
  </div>
  
  <div class="ion-text-center" style="margin:auto; width:75%; padding-top: 30px;">
    <ion-label style="font-size: 14px;">¿No tienes una cuenta?</ion-label>
    <ion-label style="font-size: 14px;"><a  href="./registro"> Registrate aqui</a></ion-label>
    </div>

    
  </ion-card-content>
</div>
<div style="margin-top: 140; text-align: center;">
  <ion-label style="font-size: 14px;">Iniciando sesion aceptas los</ion-label>
  <ion-label style="font-size: 14px;"><a  href="./terminosycondiciones"> terminos y condiciones</a></ion-label>


</div>
</ion-content>
