.css-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 1px 0px 0px rgba(66,66,66,.0);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
.css-input:focus {
    outline:none;
}

.centrar
{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 18px;

}

.terminosycondiciones
{
margin-top: 10px;
}