<ion-content>
  <!-- Back button with a default href -->

  <ion-header>
      <ion-toolbar>
          <ion-buttons  slot="start">
              <ion-back-button defaultHref="login"></ion-back-button>
          </ion-buttons>
          <ion-title style="text-align: center; margin-left: 10px;">Terminos Y Condiciones</ion-title>
      </ion-toolbar>
  </ion-header>

<div style="text-align: center; margin-top: 10px;">
  <ion-label style="font-weight: bold;"> POLITICAS</ion-label>
</div>

<div style="padding: 20px;">

  <P style="font-size: 14px; font-weight: bold;"> Definiciones:</P>

  <div class="div" style="orientation: inherit;">
    <p id="middle" style="font-size: 13px;"><label style="font-weight: bold;">Mis Calles Limpias RD: </label>Es una aplicacion movil creada con la finalidad de elimiar la mayor cantidad de desechos solidos que se encuentren en las calles de nuestra isla.</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;"><label style="font-weight: bold;">LofiSoftware: </label>Empresa encargada del desarrollo y soporte de la app, la cual tambien tiene como objetivo brindar un software de calidad y con altos estandares en el mercado.</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;"><label style="font-weight: bold;">Usuario: </label>Toda persona ya sea fisica o moral que descarga la App, cree una cuenta y utilice los servicios que esta ofrece, ya sea de manera directa o indirecta.</p>
</div>

<P style="font-size: 14px; font-weight: bold;"> Descripcion de los servicios:</P>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Mis Calles Limpias RD Es una aplicacion movil creada con la finalidad de elimiar la mayor cantidad de desechos solidos que se encuentren en las calles de nuestra isla. Ofreciendole a los usuarios la posibilidad de obtener puntos a traves de los reportes que estos realizen, dichos usuarios en el momento en que inicien sesion tendran la posibilidad de tomar una foto de donde se encuentren los desechos y automaticamente tomara el nombre de la calle para eviarle ese reporte al ayuntamiento encargado y de esta manera ganar puntos, los cuales puedes cambiar por diferentes bonos</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Dentro de los beneficios que esta aplicacion ofrece, podrias señalar: i) Limpiar las diferentes calles de nuestra ciudad; ii)Obtener bonos por los rerportes que realizas y iii) Constribuir al cuidado del planeta.</p>
</div>

<div style="text-align: center;">
  <ion-label style="font-weight: bold; "><u>
    TERMINOS Y CONDICIONES DE USO
  </u></ion-label>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;"><label style="font-weight: bold;">Mis Calles Limpias RD: </label>se encuentra disponible en los sistemas operativos IOS y Android. al utilizar nuestra App aceptaras nuestros terminos y condiciones, asi como nuestras distintas politicas. Favor leer detenidamente y en casod e estar de acuerdo, solo tendra que iniciar sesion, de lo contrario no deberia hacer uso de nuestros servicios</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Todos los servicios ofertados por la App estan sujetos a los Terminos y Condiciones, asi como los enlaces, anuncios, imagenes, datos y todo lo relacionado con la App</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Al utilizar los servicios de Mis Calles Limpias RD el usuario declara que ha aceptado los terminos y condiciones de la App y que es mayor de 18 años de edad. No es posible aceptar de manera parcial los Terminos y Condiciones.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Toda persona que utilice los servicios de la App se obliga de manera contractual a dichos terminos, asi como a las normas y leyes relativas al mismo.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">En caso de no aceptar los Terminos y Condiciones de la App favor asbtenerse de utilizar nuestros servicios.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Es obligatorio para el usuario, registrarse con una cuenta, asi como proveer informacion personal para la creacion de la misma.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">La App y Lofisoftware, actuan de manera independiente y en ningun momento asumen la respresentacion legal de los ayuntamientos ni se hacen responsables por las obligaciones de estos.</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">Al utilizar servicios brindados por la App, se le solicitara informacion de caracter personal tales como: i) nombre completo, ii)documento de identidad o cedula, iii)fecha de nacimiento, iv)correo electronico, v) telefono, vi) entre otras.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">En cuanto a la informacion crediticia, no se les solicitara ningun tipo de informacion bancaria</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">La App y LofiSoftware, solicitan y almacenan la informacion personal de sus usuarios con el objetivo de confirmar su identidad y su capacidad, cumplir con los requisitos legales de la industria, asi como autenticas y dar seguridad juridica a las convenciones legales que mediante la App se celebran. De esta manera poder atender  a las necesidad de los usuarios, dicha informacion podra tambien ser utilizada para fines internos de control y estadisticas de la App y LofiSoftware</p>
</div>

<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">En caso de que el usuario no este de acuerdo con lo expuesto en este segmento de los terminos relativo a los datos personales y su tratamiento, debe limitarse de aceptarlos y no utilizar la App.</p>
</div>


<div class="div" style="orientation: inherit;">
  <p id="middle" style="font-size: 13px;">En caso de que el usuario acepte los presentes terminos sin manifestar ninguna reserva u objecion a los mismos, se entendera que acepta y autoriza el uso y tratamiento de sus datos tal y como extablece este documento.</p>
</div>



</div>
<div style="padding: 20px;">

  <label style="font-weight: bold; font-size: 13px;">- Servicio al Cliente</label><p></p>
  <label style="font-size: 13px;">809-907-3244</label><p></p>
  <label style="font-size: 13px;">Lofisoftware00@gmail.com</label><p></p>
  <label style="font-size: 13px;">Urbanizacion Hidaka, Jarabacoa, La Vega, Republica Dominicana.</label><p></p>
  
  <label style="font-weight: bold; font-size: 13px;">Mis Calles Limpias RD</label><p></p>
  <label style="font-weight: bold; font-size: 13px;">Lofi Software</label><p></p>
  <label style="font-size: 13px;">Urbanizacion Hidaka, Jarabacoa, La Vega, Republica Dominicana.</label><p></p>
  
</div>
</ion-content>
