.mensajeria {
    font-size: 1.8rem;
    margin-right: 2rem;
    // background-color: rgb(226, 226, 226);
    margin-top: 3rem;
    .mensajeria--elementos {
        width: 100%;
        color: black;
        ion-label {
            padding-left: 1rem;
        }
        div {
            width: 100%;
            .parrafo {
                margin-top: 1rem;
                margin-left: 2rem;
                font-size: 1.4rem;
                text-align: start;
            }
        }
    }
}