<ion-content>
  <!-- Back button with a default href -->

  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-back-button defaultHref="login"></ion-back-button>
          </ion-buttons>
          <ion-title>Registro</ion-title>
      </ion-toolbar>
  </ion-header>

  <div style="padding-left: 5px; padding-right: 20px;">
      <!-- <ion-item>
    <label style="paddiang-bottom: 3mm; text-align: center;" class="blocktext"> <strong> Registro</strong></label>
</ion-item> -->

      <ion-item>
        <ion-input oninput="this.value = this.value.toUpperCase()" required placeholder="Nombre de Usuario" maxlength="30" id="nombre" (keypress)="omit_special_char($event)" (keydown)="onKeydown($event)" [(ngModel)]="usuario"></ion-input>
    </ion-item>

      <ion-item>
          <ion-input oninput="this.value = this.value.toUpperCase()" required placeholder="Email" maxlength="100" (ngModelChange)="VerificarCorreoElectronico()" [(ngModel)]="email" id="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-input oninput="this.value = this.value.toUpperCase()" required [type]="getType()" [(ngModel)]="clave" id="password" maxlengh="50" placeholder="Contraseña"></ion-input>
          <ion-icon name="eye" (click)="toggleTextPassword()"></ion-icon>
      </ion-item>

      <ion-item>
          <ion-input maxlength="13" placeholder="Cedula" required [(ngModel)]="cedula" id="cedula" (keypress)="restrictNumeric($event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="tel" [(ngModel)]="telefono" required  (keypress)="restrictNumeric($event)" maxlength="10" placeholder="Teléfono" id="telefono"></ion-input>      
    </ion-item>

      <ion-label style="color: brown; padding-left: 13px;" [ngStyle]="{'color': (labelVisibility)? 'transparent': 'red'}">¡Este correo ya existe!</ion-label>

      <div style="margin:auto; width:80%; padding-top: 40px;">
          <ion-button expand="block" style="font-weight: bold;" [disabled]="btnDisabled" [ngStyle]="{'color': (btnDisabled)? '#BDBEBD': 'white'}" (click)="onRegistroUsuario()">Registrarme</ion-button>
          <img style="width:150%;" src="assets/imagenes/Roads.png">
      </div>
  </div>

</ion-content>